.table-wrapper {
  max-width: 90%;
  overflow: hidden;
  // max-width: clamp(400px, 80.5vw, 950px);

  @media screen and (max-width: 576px) {
    tr,
    td {
      font-size: 10px;

        a{
            font-size: 15px;
        }
    }

    td {
      white-space: normal !important;
      word-break: break-word;
      overflow-wrap: anywhere;
    }
  }

  @media (max-width: 400px) {
    max-width: clamp(60%, 0.2vw + 72%, 80%);
    td{
        font-size: 8px;
    }
  }

  .img-thumbnail {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.page-link{
    height: 25px;
    font-size: 14px;
    padding: 1px 10px;
}